<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/element-plus/lib/theme-chalk/index.css">
    <title>Text Generator</title>
    <style>
        .item_label {
            margin-right: 2rem;
        }
    
        .item_area {
            margin-bottom: 1rem;
        }
    </style>
</head>

<body>
    <div id="app">
        <el-container>
            <el-main>
                <h2>Text Generator</h2>
                <div class="item_area">
                    <label class="item_label">Target Date</label>
                    <el-date-picker v-model="targetDate" type="date" placeholder="target date" @change="onBtnClick">
                    </el-date-picker>
                </div>
                <div class="item_area">
                    <label class="item_label">Select Method</label>
                    <el-radio-group v-model="selectMethod" @change="onBtnClick">
                        <el-radio-button label="day of year"></el-radio-button>
                        <el-radio-button label="random"></el-radio-button>
                    </el-radio-group>
                </div>
                <div class="item_area">
                    <el-button type="primary" round @click="onBtnClick">Generate</el-button>
                </div>
                <h3>Greate Man</h3>
                <el-input placeholder="Please input" v-model="input" readonly></el-input>
                <h3>Pokemon</h3>
                <el-input placeholder="Please input" v-model="inputPokemon" readonly></el-input>
            </el-main>
        </el-container>
    </div>
    <script src="https://unpkg.com/vue@3.0.6"></script>
    <script src="https://unpkg.com/element-plus/lib/index.full.js"></script>
    <script src="path/to/dayjs/dayjs.min.js"></script>
    <script src="./jaconv.min.js"></script>
    <script src="data/pokedex.js"></script>
    <script src="data/greate_man.js"></script>
    <script>
        const app = {
            data() {
                return {
                    input: "test input",
                    inputPokemon: "pokemon",
                    targetDate: new Date(),
                    selectMethod: 'day of year'
                }
            },
            methods: {
                choiceRandom(arr) {
                    return arr[Math.floor(Math.random() * arr.length)];
                },
                getItem(arr) {
                    switch (this.selectMethod) {
                        case 'day of year': return arr[dayjs(this.targetDate).dayOfYear()];
                        case "random": return this.choiceRandom(arr);
                        default: return this.choiceRandom(arr);
                    }
                },
                getPokemon() {
                    const name = this.getItem(POKEMON).name.japanese;
                    return jaconv.toHebon(jaconv.toHiragana(name)).toLowerCase();
                },
                // getGreateMan(dayOfYear) {
                //     return this.choiceRandom(GREATE_MAN);
                // },
                onBtnClick() {
                    // const left = LEFT[Math.floor(Math.random() * LEFT.length)];
                    //const right = RIGHT[Math.floor(Math.random() * RIGHT.length)];
                    const date = this.targetDate;
                    const dayOfYear = dayjs(date).dayOfYear();
                    const year = date.getFullYear();
                    //const month = `0${date.getMonth() + 1}`.slice(-2);
                    // const date = `0${new Date().getDate()}`.slice(-2);
                    //this.input = `release_${right}${dayOfYear}`;
                    this.input = `release_${this.getItem(GREATE_MAN)}${year}`;
                    this.inputPokemon = `release_${this.getPokemon()}${year}`;
                }
            },
            mounted() {
                this.onBtnClick();
            }
        };
        Vue.createApp(app).use(ElementPlus).mount('#app')
    </script>
</body>

</html>